body {
  background-color: rgb(169, 181, 188);
}

.container-header {
  text-align: center;
}

.ul-navbar {
  text-align: center;
  word-spacing: 40px;
}

.li-navbar {
  display: inline;
  gap: 30px;
  padding: 8px 15px;
  border-bottom: 2px solid #000;
  text-decoration: none;
  color: #000;
  font-weight: 50;
}

.paragraf {
  text-align: center;
}

.p-produk {
  text-align: center;
}

.a-produk {
  text-decoration: none;
  color: black;
}

.b-produk {
  text-decoration: none;
  color: black;
}

.k-produk {
  text-decoration: none;
  color: black;
}

.p-fotoproduk {
  margin-top: 50px;
  display: flex;
  gap: 20px;
}

.t-produk {
  text-decoration: none;
  color: black;
}

.div-kontak {
  display: flex;
  flex-direction: column;

}

.gw-kontak {
  width: 9%;
  height: 9%;
  border-radius: 8px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
  transform: translateY(-10px);
  animation: float 3s ease-in-out infinite;
}

.gi-kontak {
  width: 9%;
  height: 9%;
}

.gt-kontak {
  width: 9%;
  height: 9%;
}

.h1-tentang {
  text-align: center;
}